.popup__form-container {
  position: relative;
  width: 358px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 36px;
  margin: 0 55.3px;
}

@media all and (max-width: 400px) {
	.popup__form-container {
    padding: 30px 20px;
    margin: 0 40px;
  }
}
