.authentication__submit {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  border-radius: 2px;
  border: none;
  padding: 0;
  background-color: #FFFFFF;
}

.authentication__submit:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .8);
  transition: .2s linear;
}

@media all and (max-width: 375px) {
	.authentication__submit {
    font-size: 16px;
    line-height: 19px;
    height: 46px;
  }
}