.authentication__input {
  display: flex;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  padding: 10px 0;
  margin-bottom: 20px;
}

.authentication__input:last-of-type {
  margin-bottom: 0;
}

.authentication__input::placeholder {
  color: #CCCCCC;
}

.authentication__input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.authentication__input::-moz-placeholder {
  color: #CCCCCC;
}

.authentication__input::-ms-input-placeholder {
  color: #CCCCCC;
}
