@import url(./_hide/card__trash_hide.css);
@import url(./_show/card__trash_show.css);

.card__trash {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: 0;
  padding: 0;
  background-image: url(../../../images/card__trash.svg);
}

.card__trash:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s linear;
}

.card__trash:focus {
  outline: none;
}
