.authentication__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 0 40px;
}

@media all and (max-width: 375px) {
	.authentication__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 30px;
  }
}
