@import url(./_inactive/card__like_inactive.css);
@import url(./_active/card__like_active.css);

.card__like {
  width: 21px;
  height: 18px;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.card__like:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s linear;
}

.card__like:focus {
  outline: none;
}
