.card__photo {
  display: flex;
  background-color: #545454;
  width: 100%;
  height: calc(282 / 282 * (100vw - (100vw - 936px) - 90px) / 3);
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

@media all and (max-width: 935px) {
	.card__photo {
    height: calc(282 / 282 * (100vw - 90px) / 3);
  }
}

@media all and (max-width: 750px) {
	.card__photo {
    height: calc(282 / 282 * (100vw - 72px) / 2);
  }
}

@media all and (max-width: 520px) {
	.card__photo {
    height: calc(282 / 282 * (100vw - 54px));
  }
}

@media all and (max-width: 400px) {
	.card__photo {
    height: calc(282 / 282 * (100vw - 38px));
  }
}
